[submodule "LEVEL1/racingcar-step1"]
	path = LEVEL1/racingcar-step1
	url = https://github.com/00kang/javascript-racingcar.git
	branch = step1
[submodule "LEVEL1/racingcar-step2"]
	path = LEVEL1/racingcar-step2
	url = https://github.com/00kang/javascript-racingcar.git
	branch = step2
[submodule "LEVEL1/lotto-step1"]
	path = LEVEL1/lotto-step1
	url = https://github.com/00kang/javascript-lotto.git
	branch = step1
[submodule "LEVEL1/lotto-step2"]
	path = LEVEL1/lotto-step2
	url = https://github.com/00kang/javascript-lotto.git
	branch = step2
[submodule "LEVEL1/lunch-step1"]
	path = LEVEL1/lunch-step1
	url = https://github.com/00kang/javascript-lunch.git
	branch = step1
[submodule "LEVEL1/lunch-step2"]
	path = LEVEL1/lunch-step2
	url = https://github.com/00kang/javascript-lunch.git
	branch = step2
[submodule "LEVEL1/movie-review-step1"]
	path = LEVEL1/movie-review-step1
	url = https://github.com/00kang/javascript-movie-review.git
	branch = step1
[submodule "LEVEL1/movie-review-step2"]
	path = LEVEL1/movie-review-step2
	url = https://github.com/00kang/javascript-movie-review.git
	branch = step2
[submodule "LEVEL2/payments-step1"]
	path = LEVEL2/payments-step1
	url = https://github.com/00kang/react-payments.git
	branch = step1
[submodule "LEVEL2/payments-step2"]
	path = LEVEL2/payments-step2
	url = https://github.com/00kang/react-payments.git
	branch = step2
[submodule "LEVEL2/modules-step1"]
	path = LEVEL2/modules-step1
	url = https://github.com/00kang/react-modules.git
	branch = step1
[submodule "LEVEL2/modules-step2"]
	path = LEVEL2/modules-step2
	url = https://github.com/00kang/react-modules.git
	branch = step2
[submodule "LEVEL2/shopping-cart--step1"]
	path = LEVEL2/shopping-cart--step1
	url = https://github.com/00kang/react-shopping-cart
	branch = step1
[submodule "LEVEL2/shopping-cart--step2"]
	path = LEVEL2/shopping-cart--step2
	url = https://github.com/00kang/react-shopping-cart
	branch = step2
[submodule "LEVEL2/shopping-products--step1"]
	path = LEVEL2/shopping-products--step1
	url = https://github.com/00kang/react-shopping-products
	branch = step1
[submodule "LEVEL2/shopping-products--step2"]
	path = LEVEL2/shopping-products--step2
	url = https://github.com/00kang/react-shopping-products
	branch = step2
[submodule "LEVEL4/performance-development"]
	path = LEVEL4/performance-development
	url = https://github.com/00kang/perf-basecamp
	branch = 00kang
